---
---
<div class="logo">
<img src="/logo.svg" class="switch-dark" alt="Same as Them" title="Same as Them"></img>
<img src="/logo-light.svg" class="switch-light" alt="Same as Them" title="Same as Them"></img>
</div>

<style>
	.logo {
		width: 200px;
		margin: 0;
		font-family: var(--theme-font-family-serif);
    font-size: var(--font-size-md);
		color: inherit;
	}
	.logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
